<div id="image-list">
  <% if (data.images && data.images.length) { %>
  <% data.images.forEach(function(image, i) { %>
  <% var image = JSON.parse(image); %>
  <%-
     ejs.render(imageBoxTemplate, {
     image: image,
     data: data,
     usernamelink: usernamelink,
     dateformat: dateformat,
     i: i
     })
   %>
  <% }) %>
  <% } %>
</div>
