<div id="image-list">
  <% if (data.images && data.images.length) { %>
  <% data.images.forEach(function(image, i) { %>
  <% var image = JSON.parse(image); %>
  <%-
     ejs.render(imageBoxTemplate, {
       image: image,
       data: data,
       usernamelink: usernamelink,
       i: i,
       loggedin: loggedin(username),
       loggedinuser: username
     })
   %>
  <% }) %>
  <% } else { %>
  <div id="no-pics"><span class="label label-info">No pictures here? Why are you waiting to upload yours!</span></div>
  <% } %>
</div>
