<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" media="screen" href="/stylesheets/normalize.css" >
    <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap.min.css" >
  </head>
  <body>
    <div class="container">
      <form action="/login" method="post" class="well">
        <label>Login to start using Cloudstagram</label>
        <% if (error) { %><label><%= error %></label><% } %>
        <input type="text" class="span3" placeholder="username…" name="username">
        <input type="password" class="span3" placeholder="password…" name="password">
        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
