<div class="span8">
  <h2>Welcome to Cloudstagram</h2>
  <p>
    Here you can <strong>share</strong> images with your friends.
  </p>
  <p>
    Why are you waiting to <strong><a href="#login" class="show-form">sign in</a></strong>?
  </p>
  <p>
    You don't have an account yet? Then create one by <strong><a href="#register" class="show-form">registering here</a></strong>.
  </p>
</div>
