<div class="span8">
  <h2>Welcome to Cloudstagram</h2>
  <p>
    You can start by <strong>uploading</strong> pictures to share with the world.<br />
    Don't forget to add a <strong>comment</strong> to your picture.
  </p>
  <p>
    Now we are in your <strong>timeline</strong>. Here you can see <strong>your</strong> pictures and <br />the pictures of those who you <strong>follow</strong>.
  </p>
  <p>
    You can click on images to <strong>preview</strong> them.<br />
    Once in preview mode you can <strong>like</strong> images by <strong>double clicking</strong> on them.
  </p>
  <p>
    You can <strong>visit</strong> user profiles by <strong>clicking their usernames</strong>.<br />
    You can follow users by clicking the <strong>FOLLOW</strong> button in their profiles.
  </p>
</div>
