body {
    padding: 50px;
}

a {
    color: #00B7FF;
}

.content {
    margin-top: 30px;
}

span.when {
    float: right;
}

.right {
    float: right;
}

span.heart { margin-right: 2px; }
ul.likes { list-style: none; margin: 0; padding: 0; }
ul.likes li { display: inline; }
ul.likes li:after { content: ","; }
ul.likes li:last-child:after { content: ""; }

.hidden {
    display: none;
}

form.well {
    float: right;
}

.countInfo {
    float: left;
    margin: 2px;
    padding: 2px;
    text-align: center;
    background-color: #3A87AD;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
}

div.box {
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
    border: 1px solid silver;
    background-color: whiteSmoke;
    padding: 0.3em;
    margin-bottom: 0.3em;
}

.imageRow {
    padding-bottom: 4px;
}

.imagebox {
    border: 1px solid white;
    background-color: silver;
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
    padding: 4px;
    text-align: center;
}

.left-align {
    text-align: left;
}

input[type=text], input[type=password]{
    height: 2em;
}

.followMsg {
    margin-right: 2em;
}

.follow {
    float: right;
}

.profileLink {color:black;}